#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.pokemon-shell {
  padding: 0.75rem;
}

.gender-shell {
  display: flex;
}

.MaleFemale {
  background-color: blueviolet;
}
